& when (@media-common = true) {
    //styles for my custon elements---------------
    .column.main .show-element {
        display: block;
        position: relative;
    }

    .hide-element, .hide-header-panel {
        &:hover {
            &::after {
                color: @color-blue-gray;
            }
        }

        &::after {
            content: @icon-remove;
            font-family: 'icons-blank-theme';
            position: absolute;
            font-size: 38px;
            color: @color-black_custom;
            right: -10px;
            top: -10px;
            cursor: pointer;
        }
    }

    .button-sub, .button-add {
        display: block;
        position: absolute;
        width: 30px;
        height: 15px;
        right: 0;
        border: 1px solid #c2c2c2;
        cursor: pointer;
        &::before {
            font-family: 'icons-blank-theme';
            position: absolute;
            font-size: 27px;
            color: #cccccc;
            right: 18px;
            line-height: 10px;
            width: 10px;
        }
    }

    .button-add {
        border-bottom: none;
        top: 0;
        &::before {
            content: @icon-pointer-up;
            top: 2px;
        }
    }
    
    .button-sub {
        bottom: 0;
        &::before {
            content: @icon-pointer-down;
            bottom: 2px;
        }
    }
    
}


