@import '_variables.less';

//all screen size
& when (@media-common = true) {
    body * {
        font-family: Lato, Arial, Helvetica, sans-serif;
    }

    .header.content {
        padding: 37px 0 37px 0;
    
        .nav-toggle {
            left: 0;
        }
        .view-usd, .view-ukr{
            &::before {
                display: inline-block;
                margin-right: 9px;
            }
        }
        .view-usd {
            &::before {
                content: url('../images/USA_flag.png');
            }
        }
        .view-ukr {
            &::before {
                content: url('../images/UA_flag.png');
            }
        }
        .dropdown.switcher-dropdown {
            left: 25px;
            .switcher-option::before {
                content: unset;
            }
        }
        .logo {
            position: absolute;
            left: 50%;
            margin: 0 0 0 -67px;
            top: 42px;
        }
        
    }

    .page-footer {
        text-align: center;
        .footer.content {
            margin: 0 auto;
            padding: 0 0 30px 0;
            border: none;
            .copyright {
                margin: 0;
                color: #b5b5b5;
                font-size: 13px;
            }
        }
    }
}

//mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    
}
//tablet
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .header.content {
        .switcher {
            display: none;
        }
        .nav-toggle {
            top: 35px;
        }
        .minicart-wrapper {
            margin: 0 13px 0 0;
            position: relative;
            .showcart {
                .counter.qty {
                    color: @color-black_custom;
                    background-color: @color-yellow;
                }
                .counter.qty.empty {
                    display: inline-block;
                    position: absolute;
                    right: -10px;
                    bottom: 20px;
                }
            }
        }
    }
}
//desctop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //HEADER styles---------------------------------------
    .nav-toggle {
        top: 125px;
        display: block;
    }
    .header.content {
        padding: 37px 0 37px 0;
        .switcher {
            display: inline-block;
            padding-top: 13px;
        }
        .logo {
            margin: 0 0 0 -67px;
            top: 47px;
        }
        .minicart-wrapper {
            border: 2px solid @color-yellow;
            padding: 13px 38px;
            line-height: 12px;
            .showcart {
                color: #111111;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                &::before {
                    content: unset;
                }
                .text {
                    display: inline-block;
                    height: auto;
                    width: auto;
                    margin: 0;
                    clip: unset;
                    position: unset;
                }
                .counter.qty {
                    color: @color-black_custom;
                    background-color: unset;
                    height: unset;
                    line-height: unset;
                    margin: 0;
                    padding: 0;
                }
                .counter.qty.empty {
                    display: inline-block;
                }
            }
        }
    }
    .panel.wrapper {
        background-color: #d9e1e6;
        border: none;
        .panel.header {
            text-align: center;
            padding: 0;
            line-height: 10px;
            .header.links {
                float: none;
                vertical-align: middle;
                li {
                    margin: 5px 0 6px 0;
                    span {
                        color: #868f93;
                        text-transform: uppercase;
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .nav-sections {
        background-color: unset;
        border: 1px solid @color-white-smoke;
        .section-item-content.nav-sections-item-content {
            margin: 0 auto;
            max-width: 1140px;
            text-align: center;
            .navigation {
                display: inline-block;
                margin: 0 auto;
                width: auto;
            }
            .searsh-wishlist-wrapper {
                display: block;
                float: right;
                .link.wishlist {
                    display: inline-block;
                }
                .block-search {
                    width: unset;
                    padding: 0;
                    .block-content {
                        .form.minisearch {
                            .field.search {
                                .label {
                                    display: block;
                                    height: auto;
                                    width: auto;
                                    right: 0;
                                    clip: unset;
                                    &::before {
                                        color: @color-black_custom;
                                        font-size: 30px;
                                    }
                                    &:hover {
                                        &::before {
                                            color: #868f93;
                                        }
                                    }
                                }
                                .label.active {
                                    &::before {
                                        color: #868f93;
                                    }
                                }
                                .control {
                                    display: block;
                                    padding: 0;
                                    position: absolute;
                                    top: 25px;
                                    right: 25px;
                                    min-width: 200px;
                                    width: auto;
                                    opacity: 0;
                                    #search {
                                        padding: 0 10px;
                                    }
                                    .nested {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .form.minisearch.active {
                            .field.search {
                                .control {
                                    opacity: 100;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    //FOOTER styles-----------------------------------------
    
}
//custom
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l-custome) {

}