
//all screen size
& when (@media-common = true) {
    .product-info-main {
        margin-bottom: 20px;
        & > * {
            margin: 0 0 40px 0;
            &:last-child {
                margin: 0;
            }
        }

        .breadcrumbs-wrapper {
            .breadcrumbs-title {
                margin-right: 4px;
                color: @color-grey;
                position: relative;
                padding-left: 10px;
                &::before {
                    content: '\e617';
                    font-family: 'icons-blank-theme';
                    font-size: 20px;
                    color: currentColor;
                    position: absolute;
                    left: -7px;
                    top: -4px;
                }
            }

            .breadcrumbs {
                display: inline-block;
                padding: 0;
                margin: 0;
                .items .item:last-child {
                    display: none;
                }
            }
        }

        .page-title-wrapper.product {
            margin: 0;
        }

        .product-reviews-summary {
            margin: 0 0 20px 0;
            .reviews-actions {
                a {
                    color: @color-grey;
                    margin: 0;
                    span {
                        &:last-child {
                            padding-right: 12px;
                            border-right: 1px solid currentColor;
                        }
                    }
                }

                .add-review-button {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: @color-black_custom;
                    margin-left: 12px;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .product-info-price {
            .price-box.price-final_price { 
                margin: 0;
                .price-label {
                    display: none !important;
                }
                .price {
                    font-size: 24px;
                    font-weight: 600;
                    color: @color-dark-blue;
                }
            }
        }

        .stock-sku-tag-wrapper {
            .product.attribute.sku, .stock, 
            .additional-attributes-wrapper.table-wrapper {
                display: block;
                margin: 0 0 4px 0;
                text-transform: unset;
                color: #111111;
                font-weight: 600;
                    span {
                        &:first-child {
                            margin: 0 10px 0 0;
                        }
                        &:last-child {
                            color: @color-dark-blue;
                        }
                    }
                &:last-child {
                    margin: 0;
                }
            }
            .product.attribute.sku {
                .type, .value {
                    margin: 0;
                    color: @color-dark-blue;
                }
            }

            .data.table.additional-attributes {
                .col {
                    padding: 0;
                    width: auto;
                    display: inline-block;
                    margin-right: 10px;
                    &:last-child {
                        margin: 0;
                    }
                }

                .data {
                    color: @color-dark-blue;
                }
            }
        }

        .product.attribute.overview {
            margin: 0 0 40px 0;
            color: @color-grey;
            p {
                margin: 0 0 30px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }

        .product-add-form {
            .product-options-wrapper {
                margin: 0 0 40px 0;
                .fieldset {
                    text-transform: uppercase;
                    .field {
                        .label {
                            margin: 0 0 20px 0;
                            &::after {
                                display: none;
                            }
                        }

                        //select2---------------
                        .select2-container {
                            width: 100% !important;
                            .select2-selection {
                                height: 30px;
                                border-radius: unset;
                                border-color: @color-gray76;
                                text-transform: none;
                                .select2-selection__arrow b {
                                    border-color: #ccc transparent transparent transparent;
                                    border-width: 6px 5px 0 5px;
                                }
                            }
                        }
                    }

                    .field.qty .control {
                        width: 100%;
                        position: relative;
                        padding: 0;
                        .input-text {
                            text-align: left;
                            padding: 0 30px 0 15px;
                            color: @color-grey;
                            font-size: 13px;
                        }
                    }
                }

                a {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: #111111;
                    cursor: pointer;
                    font-size: 12px;
                    &:hover {
                        text-decoration: none;
                        color: currentColor;
                    }
                }
            }

            .product-options-bottom {
                & > * {
                    margin: 0;
                    text-transform: uppercase;
                }

                .box-tocart {
                    margin: 0 0 20px 0;
                    .fieldset {
                        margin: 0;
                        .actions {
                            padding: 0;
                            display: block;
                            .action.primary.tocart {
                                text-transform: uppercase;
                                width: 100%;
                                padding: 16px 0;
                            }
                        }
                    }
                }

                .action.towishlist {
                    padding: 20px 0;
                    text-align: center;
                    width: 100%;
                    &::before {
                        content: '\f004';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 100;
                        margin-right: 5px;
                        font-size: 13px;
                    }
                }
            }
        }

        .product-social-links {
            border-top: 1px solid @color-white-smoke;
            border-bottom: 1px solid @color-white-smoke;
            padding: 8px 0 5px 0;
            text-align: center;
            .product-addto-links {
                display: none;
            }

            span {
                text-transform: uppercase;
                font-weight: 600;
                display: block;
                margin: 0 0 20px 0;
                font-size: 12px;
            }

            .social_wrapper {
                display: block;
                & > * {
                    display: inline-block;
                    margin: 0 19px 10px 0;
                    font-size: 12px;
                    &:last-child {
                        margin: 0 0 10px 0;
                    }

                    & > * {
                        display: inline-block;
                        padding: 3px 5px;
                        border-radius: 3px;
                        border: 1px solid @color-white-smoke;
                        margin-right: 3px;
                        color: #fff;
                        position: relative;
                        &:last-child {
                            margin: 0;
                            color: @color-blue-gray;
                            vertical-align: bottom;
                        }
                    }
                }

                .facebook-likes {
                    background-color: #4863b7;
                    &::before {
                        content: url('../images/facebook.png');
                    }
                }

                .facebook-shares {
                    background-color: #5775d1;
                }

                .facebook-shares-qty, .twitter-likes {
                    color: @color-blue-gray;
                    text-transform: unset;
                }

                .facebook-shares-qty, .twitter-qty, .pinterrest-qty {
                    span {
                        vertical-align: bottom;
                        margin: 0;
                        overflow: hidden;
                        width: 29px;
                        text-align: center;
                    }

                    &::before {
                        content: '';
                        border: 5px solid;
                        border-color: transparent #fff transparent transparent;
                        z-index: 99;
                        position: absolute;
                        left: -10px;
                        top: 6px;
                    }

                    &::after {
                        content: '';
                        border: 6px solid;
                        border-color: transparent @color-white-smoke transparent transparent;
                        z-index: 98;
                        left: -12px;
                        top: 5px;
                        position: absolute;
                    }
                }

                .facebook-likes, .twitter-likes {
                    position: relative;
                    padding-left: 20px;
                    &::before {
                        position: absolute;
                        left: 4px;
                        top: 5px;
                    }
                }

                .twitter-likes, .pinterrest-likes {
                    background-color: #cecccc;
                    background-image: linear-gradient(#fff, #cecccc);
                }

                .twitter-likes::before {
                    content: url('../images/twitter.png');
                }

                .twitter-qty span {
                    width: 15px;
                }

                .pinterrest-likes {
                    position: relative;
                    &::before {
                        content: url('../images/pin_it.png');
                        position: absolute;
                    }
                }

                .pinterrest-qty {
                    padding-left: 1px;
                    margin-left: 6px;
                    &::before {
                        border: 12px solid;
                        border-color: transparent #fff transparent transparent;
                        left: -23px;
                        top: 0px;
                    }

                    &::after {
                        border: 13px solid;
                        border-color: transparent #f5f5f5 transparent transparent;
                        left: -25px;
                        top: -1px;
                    }
                }
            }
        }
    }

    .block.review-list, .block.review-add {
        clear: both;
        display: none;
    }

    .review-form {
        max-width: unset;
    }

    //select2-droopdown
    .select2-container.select2-container--default.select2-container--open {
        .select2-dropdown.select2-dropdown--below {
            border-radius: unset;
            background-color: unset;
            border: none;
            .select2-results {
                .select2-results__options {
                    background-color: white;
                    border: 1px solid #eff0f3;
                    min-width: 100px;
                    .select2-results__option {
                        padding: 6px 6px;
                        margin: 0;
                    }

                    .select2-results__option.select2-results__option--highlighted {
                        background-color: @color-dark-blue;
                    }
                }

                #select2-select-phone-results {
                    .select2-results__option {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

//mobile
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 110px;
    }
}

//desctop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-1column {
        .product-info-main {
            padding: 10px 0 0 28px;
        }

        .product.media {
            width: 56%;
        }
    }

    .product-info-main {
        .product-add-form {
            .product-options-bottom {
                & > * {
                    width: 100%;
                }
            }
        }

        .product-social-links {
            text-align: left;
            span {
                display: inline-block;
                margin: 0 20px 20px 0;
            }
            .social_wrapper {
                display: inline-block;
            }
        }

        .product-reviews-summary .reviews-actions {
            a span:last-child {
                padding-right: 5px;
            }

            .add-review-button {
                margin-left: 5px;
            }
        }
    }

    .review-ratings ~ .review-content, .review-ratings ~ .review-details {
        margin-left: 280px;
    }
}

//custom
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l-custom) {
    .product-info-main {
        margin-bottom: 40px;
        .product-add-form {
            .product-options-wrapper {
                .fieldset {
                    .field {
                        display: inline-block;
                        margin: 0 28px 0 0;
                        width: 168px;
                    }

                    .field.qty {
                        margin: 0;
                        width: auto;
                        .control {
                            width: 33px;
                            padding-right: 31px;
                            .input-text {
                                text-align: center;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            .product-options-bottom {
                & > * {
                    max-width: 215px;
                    display: inline-block;
                }

                .box-tocart {
                    margin: 0;
                }

                .action.towishlist {
                    float: right;
                }
            }
        }

        .product-reviews-summary .reviews-actions {
            a span:last-child {
                padding-right: 12px;
            }

            .add-review-button {
                margin-left: 12px;
            }
        }

        .product-social-links {
            padding: 15px 0 0 0;
        }
    }
}