
//all screen size
& when (@media-common = true) {
    .product-info-main {
        .breadcrumbs {
            padding: 0;
            margin-bottom: 48px;
        }
        .product-reviews-summary {
            margin: 0 0 30px 0;
            .reviews-actions {
                a {
                    color: @color-grey;
                    span {
                        &:last-child {
                            padding-right: 12px;
                            border-right: 1px solid currentColor;
                        }
                    }
                }
                .add-review-buton {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: @color-black_custom;
                    margin-left: 12px;
                }
            }
        }
        .product-info-price {
            margin-bottom: 35px;
            .price-box.price-final_price { 
                margin: 0;
                .price-label {
                    display: none !important;
                }
                .price {
                    font-size: 24px;
                    font-weight: 600;
                    color: @color-dark-blue;
                }
            }
        }
        .stock-sku-tag-wrapper {
            margin: 0 0 40px 0;
            .product.attribute.sku, .stock, 
            .additional-attributes-wrapper.table-wrapper {
                display: block;
                margin: 0 0 4px 0;
                text-transform: unset;
                color: #111111;
                font-weight: 600;
                    span {
                        &:first-child {
                            margin: 0 10px 0 0;
                        }
                        &:last-child {
                            color: @color-dark-blue;
                        }
                    }
                &:last-child {
                    margin: 0;
                }
            }
            .product.attribute.sku {
                .type, .value {
                    margin: 0;
                    color: @color-dark-blue;
                }
            }
            .data.table.additional-attributes {
                .col {
                    padding: 0;
                    width: auto;
                    display: inline-block;
                    margin-right: 10px;
                    &:last-child {
                        margin: 0;
                    }
                }
                .data {
                    color: @color-dark-blue;
                }
            }
        }
    }
}

//mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    
}
//tablet
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
//desctop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-1column {
        .product-info-main {
            padding: 10px 0 0 28px;
        }
        .product.media {
            width: 56%;
        }
    }
}
//custom
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l-custome) {

}