
//all screen size
& when (@media-common = true) {
    .product-info-main {
        & > * {
            margin: 0 0 40px 0;
            &:last-child {
                margin: 0;
            }
        }
        .breadcrumbs {
            padding: 0;
        }
        .page-title-wrapper.product {
            margin: 0;
        }
        .product-reviews-summary {
            margin: 0 0 20px 0;
            .reviews-actions {
                a {
                    color: @color-grey;
                    span {
                        &:last-child {
                            padding-right: 12px;
                            border-right: 1px solid currentColor;
                        }
                    }
                }
                .add-review-buton {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: @color-black_custom;
                    margin-left: 12px;
                }
            }
        }
        .product-info-price {
            .price-box.price-final_price { 
                margin: 0;
                .price-label {
                    display: none !important;
                }
                .price {
                    font-size: 24px;
                    font-weight: 600;
                    color: @color-dark-blue;
                }
            }
        }
        .stock-sku-tag-wrapper {
            .product.attribute.sku, .stock, 
            .additional-attributes-wrapper.table-wrapper {
                display: block;
                margin: 0 0 4px 0;
                text-transform: unset;
                color: #111111;
                font-weight: 600;
                    span {
                        &:first-child {
                            margin: 0 10px 0 0;
                        }
                        &:last-child {
                            color: @color-dark-blue;
                        }
                    }
                &:last-child {
                    margin: 0;
                }
            }
            .product.attribute.sku {
                .type, .value {
                    margin: 0;
                    color: @color-dark-blue;
                }
            }
            .data.table.additional-attributes {
                .col {
                    padding: 0;
                    width: auto;
                    display: inline-block;
                    margin-right: 10px;
                    &:last-child {
                        margin: 0;
                    }
                }
                .data {
                    color: @color-dark-blue;
                }
            }
        }
        .product.attribute.overview {
            margin: 0 0 40px 0;
            color: @color-grey;
            p {
                margin: 0 0 30px 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .product-add-form {
            .product-options-wrapper {
                margin: 0 0 40px 0;
                .fieldset {
                    text-transform: uppercase;
                    .field {
                        .label {
                            margin: 0 0 20px 0;
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
                a {
                    text-transform: uppercase;
                    text-decoration: underline;
                    color: #111111;
                    cursor: pointer;
                    font-size: 12px;
                    &:hover {
                        text-decoration: none;
                        color: currentColor;
                    }
                }
            }
            .product-options-bottom {
                & > * {
                    margin: 0;
                    text-transform: uppercase;
                }
                .box-tocart {
                    margin: 0 0 20px 0;
                    .fieldset {
                        margin: 0;
                        .actions {
                            padding: 0;
                            display: block;
                            .action.primary.tocart {
                                text-transform: uppercase;
                                width: 100%;
                                padding: 16px 0;
                            }
                        }
                    }
                }
                .action.towishlist {
                    padding: 20px 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

//mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    
}
//tablet
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}
//desctop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-layout-1column {
        .product-info-main {
            padding: 10px 0 0 28px;
        }
        .product.media {
            width: 56%;
        }
    }
    .product-info-main {
        .product-add-form {
            .product-options-bottom {
                & > * {
                    width: 100%;
                }
            }
        }
    }
}
//custom
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l-custome) {
    .product-info-main {
        .product-add-form {
            .product-options-wrapper {
                .fieldset {
                    .field {
                        display: inline-block;
                        margin: 0 28px 0 0;
                    }
                    .qty {
                        margin: 0;
                        .control {
                            width: 32px;
                        }
                    }
                }
            }
            .product-options-bottom {
                & > * {
                    max-width: 215px;
                    display: inline-block;
                }
                .box-tocart {
                    margin: 0;
                }
                .action.towishlist {
                    float: right;
                }
            }
        }
    }
}